<phpunit
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
backupGlobals="false"
backupStaticAttributes="false"
cacheTokens="false"
colors="true"
bootstrap="tests/bootstrap.php"
convertErrorsToExceptions="true"
convertNoticesToExceptions="true"
convertWarningsToExceptions="true"
forceCoversAnnotation="false"
mapTestClassNameToCoveredClassName="false"
processIsolation="false"
stopOnError="false"
stopOnFailure="false"
stopOnIncomplete="false"
stopOnSkipped="false"
timeoutForSmallTests="1"
timeoutForMediumTests="10"
timeoutForLargeTests="60"
strict="false"
verbose="true">

<php>
	<ini name="display_errors" value="on" />	
	<ini name="error_reporting" value="E_ALL" />
	
	<server name="SERVER_NAME" value="phpcrystal-framework.com" />
	<server name="REQUEST_URI" value="/" />
	<server name="QUERY_STRING" value="" />
	<server name="SERVER_PORT" value="80" />
	
</php>

<testsuites>
	<testsuite name="core">
		<directory>tests</directory>
	</testsuite>
</testsuites>

</phpunit>
